* {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

header {
    background-color: black;
    border-bottom: 3px solid #C33149;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background-color: #EDF2F4;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-div {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-div > form {
    width: 45%;
}

.form-button {
    display: flex;
    justify-content: center;
}

.form-button > button {
    font-weight: bold;
    /* width: 35%; */
    border-radius: 20px;
}

.nav-item {
    margin: 0 15px;
}

#logout-btn, #login-btn, #register-btn {
    background-color: #F5CB5C;
    border-radius: 20px;
    color: #242423;
    padding: 5px 20px;
}