* {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-div {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-div > form {
    width: 45%;
}

.form-button {
    display: flex;
    justify-content: center;
}

.form-button > button {
    font-weight: bold;
    width: 35%;
    border-radius: 20px;
}